.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
    max-width: 360px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 1.16;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        max-width: 288px;
    }
}